MANIFEST
build
dist
lib

node_modules
.cache
*.py[co]
.pytest_cache
__pycache__
*.egg-info
*~
*.bak
.ipynb_checkpoints
.DS_Store
\#*#
.#*

*.swp
*.map

*.tsbuildinfo
.eslintcache

# jetbrains IDE stuff
*.iml
.idea/

# ms IDE stuff
*.code-workspace
.history
.vscode

p5_notebook/labextension
p5_notebook/p5-theme-*

# Python
.venv
_version.py

# JupyterLite
_output
*.doit.db

# UI tests
ui-tests/playwright-report
ui-tests/test-results
