jupyterlab~=3.5.3
jupyterlab-language-pack-es-ES
jupyterlab-language-pack-fr-FR
jupyterlab-language-pack-it-IT
jupyterlab-language-pack-pl-PL
jupyterlab-language-pack-zh-CN
jupyterlite-core==0.1.0b22
jupyterlite-p5-kernel==0.1.1

# install the extra extensions
.
