jupyterlab~=3.5.2
jupyterlab-language-pack-es-ES
jupyterlab-language-pack-fr-FR
jupyterlab-language-pack-it-IT
jupyterlab-language-pack-pl-PL
jupyterlab-language-pack-zh-CN
jupyterlite==0.1.0b18
jupyterlite-p5-kernel==0.1.0

# install the extra extensions
.
