body {
  margin: 0;
  padding: 0;
}

#main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#top-panel {
  border-bottom: var(--jp-border-width) solid var(--jp-border-color0);
  background: var(--jp-layout-color1);
  display: flex;
  min-height: var(--jp-private-menubar-height);
}

iframe {
  border: none;
}

.p5-about-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.p5-about-body {
  display: flex;
  font-size: var(--jp-ui-font-size1);
  color: var(--jp-ui-font-color1);
  text-align: left;
  flex-direction: column;
  width: 100%;
  min-width: 360px;
  overflow: visible;
}

.p5-about-body pre {
  white-space: pre-wrap;
}

.p5-about-header-info {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.p5-about-externalLinks {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 12px;
  color: #ed215d;
}

.p5-shortcuts {
  padding: 10px;
}

.p5-shortcuts pre {
  padding: 5px;
  margin: 0 0 10px;
  background: var(--jp-layout-color2);
  border: 1px solid var(--jp-border-color0);
  border-radius: 2px;
  word-break: break-all;
}

.jp-NotebookPanel-toolbar {
  overflow-x: scroll;
}
