name: Deploy

on:
  push:
    branches: '*'
    
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v2
      
      - name: Install node
        uses: actions/setup-node@v1
        with:
         node-version: '10.x'

      - name: Build
        run: |
          yarn
          yarn run build:prod
          
      - name: Create dist directory
        run: |
          mkdir -p dist/build/
          mv index.html dist/
          mv build/bundle.js dist/build/

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          external_repository: jtpio/scratchpad
          publish_dir: ./dist
          publish_branch: gh-pages
